<link
  href="https://fonts.googleapis.com/css?family=La+Belle+Aurore"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
/>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- Material Design Bootstrap -->
<link href="css/mdb.min.css" rel="stylesheet" />
<!-- Your custom styles (optional) -->
<link href="css/style.css" rel="stylesheet" />
<link href="css/myProject.css" rel="stylesheet" />

<section id="my-project">
  <div class="project container-fluid">
    <!-- heading MyProject -->

    <div class="row">
      <div class="heading-project">
        <h1>My Project</h1>
      </div>
      <br />
      <div class="pin position-fixed">
        <a href="index.html">
          <img
            src="/img/profil/Cool Sky.png"
            class="rounded-circle z-depth-3"
            alt="avatar image"
            height="50"
          />
        </a>
      </div>
    </div>
    <br />

    <div class="row ">
      <div class="col-md-4 ">
        <div class="card mb-2">
          <div class="card-body">
            <img
              class="card-img-overlay z-depth-5"
              src="/img/project/web11.jpeg"
              alt="Card image cap"
            />
            <h5 class="card-title">UX/UI Design</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="card mb-2">
          <img
            class="card-img-overlay z-depth-5"
            src="/img/project/web13.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">UX/UI Design</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="card mb-2">
          <img
            class="card-img-overlay z-depth-5"
            src="/img/project/web7.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">UX/UI Design</h5>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <!-- brmyProject List -->
    <div class="row ">
      <div class="col-md-4 ">
        <div class="card mb-2">
          <div class="card-body">
            <img
              class="card-img-overlay z-depth-5"
              src="/img/project/web13.jpeg"
              alt="Card image cap"
            />
            <h5 class="card-title">UX/UI Design</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="card mb-2">
          <img
            class="card-img-overlay z-depth-5"
            src="/img/project/web7.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">UX/UI Design</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="card mb-2">
          <img
            class="card-img-overlay z-depth-5"
            src="/img/project/web11.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">UX/UI Design</h5>
          </div>
        </div>
      </div>

      <!-- end myProject List  -->
    </div>
  </div>
</section>
