.heading-project {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  -webkit-text-fill-color: aliceblue;
}
.pin {
  margin-left: 1275px;
  margin-top: 6px;
}
.card-body {
  height: 150px;
  width: 300px;
}

.project {
  background-image: url(/img/background/gradient1.jpg);
  height: 700px;
}
.card {
  animation-name: moveInBottom;
  animation-duration: 6s;
  animation-timing-function: ease-out;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
